.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.5);
}

.caja-1{
    width: 500px;
    height: 80px;
    font-size: 70px;
    color: white;
    background-color: blue;
}

.caja-2{
    width: 500px;
    height: 80px;
    font-size: 70px;
    color: wheat;
    background-color: red;
}

.caja-3{
    width: 500px;
    height: 80px;
    font-size: 70px;
    color: wheat;
    background-color: orange;
}

.caja-4{
    width: 500px;
    height: 80px;
    font-size: 70px;
    color: wheat;
    background-color:aqua;
}

.caja-5{
    width: 500px;
    height: 80px;
    font-size: 70px;
    color: wheat;
    background-color:green;
}

.caja-6{
    width: 500px;
    height: 80px;
    font-size: 70px;
    color: wheat;
    background-color:maroon;
}

